<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="PublishToTargetDB"
         connectionString="Data Source=DESKTOP-IRF2HP8\SQL17;Initial Catalog=StagingAppDB;Persist Security Info=True;User ID=sa; Password=hari;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>